.button-btn {
    display: inline-block;
    padding: 15px;
    border: 0;
    background: #d21818;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

.button-btn:hover{
  padding: 15px;
  border: 3px solid #034575;
  background: #eee;
  color: #222;
  outline: none;
  margin: 0;
}