
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.button{
    display: inline-block;
    padding: .5rem;
    border: 0;
    background: #d21818;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}

